@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.logo-size {
    width: 200px;
}

.scrollable {
    height: 400px;
    overflow: scroll;
}

.card-square {
    height: 60px;
    width: 60px;
}

.comforta {
    font-family: 'Comfortaa', cursive;
}

.img-profile {
    width: 200px;
    height: 200px;
}